#return-to-top {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background: $background;
  border: 2px solid $white;
  width: 3em;
  height: 3em;
  text-decoration: none;
  -webkit-border-radius: .33em;
  -moz-border-radius: .33em;
  border-radius: .33em;
  display: none;
  transition: bottom .5s ease, position .5s ease, display .5s ease,
    float .5s ease;

  &:hover,
  &:focus {
    span {
      top: 7px;
    }
  }

  span {
    color: $white;
    margin: 0;
    position: relative;
    left: .47em;
    top: .47em;
    font-size: 1.5em;
    transition: top .66s ease;
  }

  &.bottomed-out {
    position: relative;
    display: block;
    float: right;
    bottom: -3.66em;
    margin-top: -2em;

    @include breakpoint(large) {
      bottom: 2em;
    }
  }
}