#return-to-top {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background: $background;
    border: 2px solid $white;
    width: 3em;
    height: 3em;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 0.33em;
    -moz-border-radius: 0.33em;
    border-radius: 0.33em;
    display: none;
    transition: bottom 0.3s ease;

    &:hover, &:focus {
        span{
            top: 7px;
        }
    }

    span{
        color: $white;
        margin: 0;
        position: relative;
        left: 0.47em;
        top: 0.47em;
        font-size: 1.5em;
        -webkit-transition: top 0.3s ease;
        -moz-transition: top 0.3s ease;
        -ms-transition: top 0.3s ease;
        -o-transition: top 0.3s ease;
        transition: top 0.3s ease;
    }

    &.bottomed-out{
        bottom: 1em;

        @media screen and (max-width : 400px) {
            bottom: 3.5em;
        }
    }
}