// GENERAL STYLES
* {
  margin: 0;
  padding: 0;
}

.section{
	width: 100%;
	padding: 4em 1em;
}

div{
  padding: 0;
}

.row{  
  @media screen and (max-width: 40em) {
    //padding-top: 0;
    //padding-bottom: 0;
    //margin: 0;
  }
}

h1{
    margin-top: .75em;
}

p{
  padding: 1em 0;
}

hr{
  height: 2px;
  color: $grey;
}

.frame{
    width: 100%;
	padding: 0.5em;
	padding: 0.5em;
    padding-top: 4em;
    
    @media screen and (max-width: 40em) {
      width: 100%;
	  padding: 0.5em;
      padding-top: 3em;
    }
    
    iframe{
      display: block;
      float: left;
      border: 3px solid $black;
      width: 100%;
      margin: 0 auto;
      height: 90.5vh;
        
      @media screen and (max-width: 40em) {
        height: 90vh;
      }
    }
}

.no-padding.columns{
  padding: 0;
}

.no-bottom-space{
    margin-bottom: 0!important;
}

.no-bottom-space-desktop{
  margin-bottom: 0!important;

  @media screen and (max-width: 64em) {
    margin-bottom: 3em!important;
  }
}

.hide-mobile{
  display: block;
    
  @media screen and (max-width: 40em) {
    display: none;
  }
}

.hide-tablet{
  display: block;
    
  @media screen and (min-width: 40.063em) and (max-width: 63.9375em) {
    display: none;
  }
}

.inline-accent{
  display: block;
  margin: 0 auto;
  padding: 0 1em;
    
  @media screen and (max-width: 40em) {
    padding: 1em;
  }
}

textarea{
  height: 10em;
}


// COLOURS
.white{
	background-color: $white;
  h1,h2,h3,h4,h5,h6,p,a,a:hover{
		color: #000000;
	}
}

.black{
	background-color: $black;
	h1,h2,h3,h4,h5,h6,p,a,a:hover{
		color: #ffffff;
	}
}

.white.black{
	background-color: $black;
	h1,h2,h3,h4,h5,h6,p,a,a:hover{
		color: #ffffff;
	}
}

.black.white{
	background-color: $white;
  h1,h2,h3,h4,h5,h6,p,a,a:hover{
		color: #000000;
	}
}

.grey{
	background-color: $grey;
}

.blue{
	background-color: $blue;
}

.blue-gradient{
  background: rgba(109,170,170,1);
  background: -moz-linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(109,170,170,1)), color-stop(100%, rgba(150,233,233,1)));
  background: -webkit-linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  background: -o-linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  background: linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6daaaa', endColorstr='#96e9e9', GradientType=1 );
}

.light-blue{
	background-color: $light-blue;
}

.dark-blue{
	background-color: $dark-blue;
}

.white-text{
	color: $white!important;
}

.black-text{
	color: $black!important;
}

.grey-text{
	color: $grey!important;
}

.blue-text{
	color: $blue!important;
}

.light-blue-text{
	color: $light-blue!important;
}

.dark-blue-text{
	color: $dark-blue!important;
}

.thrillworks-text{
    color: $thrillworks!important;
}

.button{
  margin-top: 2em;
}

/* Breadcrumbs */
.crumbs {
  list-style: none;
    
  li{
    display: inline;
  }
}


/* Animations */
#showcase1, #showcase2, #showcase3{
  img{
    display: block;
    margin: 0 auto;
  }
}

#showcase1.bounceIn {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

#showcase2.bounceIn {
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  -o-animation-delay: 1.25s;
  -ms-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

#showcase3.bounceIn {
  -webkit-animation-delay: 2.25s;
  -moz-animation-delay: 2.25s;
  -o-animation-delay: 2.25s;
  -ms-animation-delay: 2.25s;
  animation-delay: 2.25s;
}

@media screen and (max-width: 40em) {
  #showcase1.bounceIn, #showcase2.bounceIn, #showcase3.bounceIn {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
}