// GENERAL STYLES
* {
  margin: 0;
  padding: 0;
}

.section{
	width: 100%;
	padding: 4em 1em;
}

div{
  padding: 0;
}

p{
  padding: 1em 0;
}

hr{
  height: 2px;
  color: $grey;
}

.no-padding.columns{
  padding: 0!important;
}

.hide-mobile{
  display: block;
}

.hide-tablet{
  display: block;
}

.inline-accent{
  display: block;
  margin: 0 auto;
  padding: 0 1em;
}

textarea{
  height: 10em;
}

@media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  .hide-mobile{
    display: none!important;
  }

  .row{
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  .inline-accent{
    display: block;
    margin: 0 auto;
    padding: 1em;
  }
}

@media only screen and (min-width: 40.063em) { /* min-width 641px, medium screens */
  .hide-tablet{
    display: none!important;
  }
}


// COLOURS
.white{
	background-color: $white;
  h1,h2,h3,h4,h5,h6,p,a,a:hover{
		color: #000000;
	}
}

.black{
	background-color: $black;
	h1,h2,h3,h4,h5,h6,p,a,a:hover{
		color: #ffffff;
	}
}

.white.black{
	background-color: $black;
	h1,h2,h3,h4,h5,h6,p,a,a:hover{
		color: #ffffff;
	}
}

.black.white{
	background-color: $white;
  h1,h2,h3,h4,h5,h6,p,a,a:hover{
		color: #000000;
	}
}

.grey{
	background-color: $grey;
}

.blue{
	background-color: $blue;
}

.blue-gradient{
  background: rgba(109,170,170,1);
  background: -moz-linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(109,170,170,1)), color-stop(100%, rgba(150,233,233,1)));
  background: -webkit-linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  background: -o-linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  background: linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6daaaa', endColorstr='#96e9e9', GradientType=1 );
}

.light-blue{
	background-color: $light-blue;
}

.dark-blue{
	background-color: $dark-blue;
}

.white-text{
	color: $white!important;
}

.black-text{
	color: $black!important;
}

.grey-text{
	color: $grey!important;
}

.blue-text{
	color: $blue!important;
}

.light-blue-text{
	color: $light-blue!important;
}

.dark-blue-text{
	color: $dark-blue!important;
}

.button{
  margin-top: 2em;
}

/* Breadcrumbs */
.crumbs { list-style: none; }
.crumbs li { display: inline; }


/* Animations */
#showcase1, #showcase2, #showcase3{
  img{
    display: block;
    margin: 0 auto;
  }
}

#showcase1.bounceIn {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

#showcase2.bounceIn {
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  -o-animation-delay: 1.25s;
  -ms-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

#showcase3.bounceIn {
  -webkit-animation-delay: 2.25s;
  -moz-animation-delay: 2.25s;
  -o-animation-delay: 2.25s;
  -ms-animation-delay: 2.25s;
  animation-delay: 2.25s;
}

#showcase1.pulse, #showcase2.pulse, #showcase3.pulse {
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -o-animation-duration: 5s;
  -ms-animation-duration: 5s;
  animation-duration: 5s;

  -webkit-animation-timing-function:linear;
  -moz-animation-timing-function:linear;
  -o-animation-timing-function:linear;
  -ms-animation-timing-function:linear;
  animation-timing-function:linear;
}

@media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  #showcase1.bounceIn, #showcase2.bounceIn, #showcase3.bounceIn {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
}


/* Index Page */
.index-header{
  margin-bottom: 2em;
}

/* About Page */
.icon-container{
  display: block;
  margin: 0 auto;
  margin-top: 3em;
  max-height: 29.5em;
  overflow: auto;
  background: rgba(92,162,162,1);
  background: -moz-linear-gradient(top, rgba(92,162,162,1) 0%, rgba(27,47,47,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(92,162,162,1)), color-stop(100%, rgba(27,47,47,1)));
  background: -webkit-linear-gradient(top, rgba(92,162,162,1) 0%, rgba(27,47,47,1) 100%);
  background: -o-linear-gradient(top, rgba(92,162,162,1) 0%, rgba(27,47,47,1) 100%);
  background: -ms-linear-gradient(top, rgba(92,162,162,1) 0%, rgba(27,47,47,1) 100%);
  background: linear-gradient(to bottom, rgba(92,162,162,1) 0%, rgba(27,47,47,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ca2a2', endColorstr='#1b2f2f', GradientType=0 );
  border: 2px solid $black;
  padding: 1em;
}

.icon {
  display: block;
  margin: 1em auto;

  img{
    padding: 1em;
    border: 1px solid $dark-blue;
    background: $blue;
    -webkit-box-shadow: 0.33em 0.33em 0.33em 0 rgba(0,0,0,0.4);
    -moz-box-shadow: 0.33em 0.33em 0.33em 0 rgba(0,0,0,0.4);
    box-shadow: 0.33em 0.33em 0.33em 0 rgba(0,0,0,0.4);
  }
}

#portrait-suit{
  position: relative;
  top: 4em;

  img{
    display: block;
    margin: 0 auto;
  }
}

#about-intro{
  display: block;

  h2{
    margin-bottom: 1em;
    text-align: center;
  }
}

#education, #experience{
  margin-bottom: 3em;
  h2{
    padding: 0;
    margin: 0;
    margin-top: 2em!important;
  }

  hr{
    padding: 0;
    margin: 0;
    height: 0.1em;
  }

  img{
    display: block;
    margin: 3em auto;
    max-width: 260px;
  }
}

.about-experience{
  margin-bottom: 3em;
  p{
    margin: 0;
    padding: 0 0 1em 0;
  }

  img{
    display: block;
    margin: 0 auto;
    margin-top: 1em;
  }
}

#about-more-info{
  h2{
    display: block;
    text-align: center;
  }

  h3{
    display: block;
    text-align: center;
  }
}

.resume-cta{

  h3{
    margin-top: 2em;

    #resume{
      font-family: arial;
      color: #000000!important;
      font-size: 24px;
      padding: 1em 2em;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      border: 2px solid #000000;
      background: #468CCF;
      background: linear-gradient(to top,  #5FA6A6,  #7FC7C7);
      background: -ms-linear-gradient(to top,  #5FA6A6,  #7FC7C7);
      background: -webkit-gradient(linear, to left top, to left bottom, from(#5FA6A6), to(#7FC7C7));
      background: -moz-linear-gradient(to top,  #5FA6A6,  #7FC7C7);

      &:hover, &:active {
          color: $white!important;
          border-color: $white;
          background: #63B8EE;
          background: linear-gradient(to top,  #7FC7C7,  #5FA6A6);
          background: -ms-linear-gradient(to top,  #7FC7C7,  #5FA6A6);
          background: -webkit-gradient(linear, to left top, tp left bottom, from(#7FC7C7), to(#5FA6A6));
          background: -moz-linear-gradient(to top,  #7FC7C7,  #5FA6A6);
      }
    }
  }
}

@media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  #about-me{
    padding-bottom: 1em;
  }
  #portrait-suit{
    top: 2em;
  }
  .resume-cta{
    h3{
      #resume{
        font-size: 16px;
      }
    }
  }
}


/* Contact Page */
#contact-intro{
  padding-bottom: 2em;
}

#contact-form{
  background: url(../img/aesthetic-geometry-tablet.jpg) no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 1em 2em;
  -moz-box-shadow: 0  0.75em 0.75em -0.75em #000000, 0 -0.75em 0.75em -0.75em #000000;
  -webkit-box-shadow:  0  0.75em 0.75em -0.75em #000000, 0 -0.75em 0.75em -0.75em #000000;
   box-shadow: 0  0.75em 0.75em -0.75em #000000, 0 -0.75em 0.75em -0.75em #000000;

  form{
    padding: 1em;

    h5{
      color: $white;
    }

    input, textarea{
      background: rgba(0,0,0,0.22);
      color: $white;
    }

    input[type=submit]{
      display: block;
      float: right;
      font-family: arial;
      color: #000000!important;
      font-size: 1em;
      font-weight: bold;
      padding: 1em 2em;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      border: 2px solid #000000;
      background: #468CCF;
      background: linear-gradient(to top,  #5FA6A6,  #7FC7C7);
      background: -ms-linear-gradient(to top,  #5FA6A6,  #7FC7C7);
      background: -webkit-gradient(linear, to left top, to left bottom, from(#5FA6A6), to(#7FC7C7));
      background: -moz-linear-gradient(to top,  #5FA6A6,  #7FC7C7);

      &:hover, &:active {
          color: $white!important;
          border-color: $white;
          background: #63B8EE;
          background: linear-gradient(to top,  #7FC7C7,  #5FA6A6);
          background: -ms-linear-gradient(to top,  #7FC7C7,  #5FA6A6);
          background: -webkit-gradient(linear, to left top, tp left bottom, from(#7FC7C7), to(#5FA6A6));
          background: -moz-linear-gradient(to top,  #7FC7C7,  #5FA6A6);
      }
    }

    .g-recaptcha{
      display: block;
      width: 100%;
      padding: 0;
      float: left;
    }
  }
}

@media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  .g-recaptcha{
    margin: 0 auto;
    float: none;
    transform:scale(0.77);
    transform-origin:0 0;
  }

  input[type=submit]{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    float: none!important;
  }
}


/* Portfolio */
.showcase-head{
  margin-bottom: 1em;
}

.showcase-1, .showcase-2{
  .showcase-example{
    display: inline-block;
    height: 20em;
    width: 100%;
    margin-bottom: 3em;
    -moz-box-shadow: 0  0.75em 0.75em -0.75em #000000, 0 -0.75em 0.75em -0.75em #000000;
    -webkit-box-shadow:  0  0.75em 0.75em -0.75em #000000, 0 -0.75em 0.75em -0.75em #000000;
     box-shadow: 0  0.75em 0.75em -0.75em #000000, 0 -0.75em 0.75em -0.75em #000000;

    h3{
      vertical-align: bottom;
      text-align: center;
    }

    p{
      margin-bottom: 3em;
    }
  }
}

.showcase-1{
  .showcase-example{
    h3{
      color: $black;
    }
  }
}

.showcase-2{
  .showcase-example{
    h3{
      color: $white;
    }
  }
}


/* Services */
.services-promotion{
  margin-bottom: 2em;
  min-height: 21em;

  h4{
    text-align: center;
  }

  p{
    text-align: justify;
  }

  img{
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5em;
  }
}


@media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  .services-promotion{
    min-height: 12em!important;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .services-promotion{
    min-height: 22em!important;
  }
}

/* CMS Skills */
.cms-skillset{
  h5{
    margin-bottom: 3em;
  }
  
  .cms-skill{
    display: block;
    margin-bottom: 3em;

    img{
      display: block;
      margin: 0 auto;
      margin-bottom: 1em;
    }
  }
}
