// GENERAL STYLES
* {
  margin: 0;
  padding: 0;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.section{
	width: 100%;
  padding: 4em 1em;
  
  @media screen and (max-width: 40em) {
    padding: 2.5em 1em;
  }
}

div{
  padding: 0;
}

h1,.h1{
    margin-top: .75em;
}

p{
  padding: 1em 0;
}

hr{
  height: 2px;
  color: $grey;
}

.frame{
  width: 100%;
  padding: 0.5em;
  height: 66vh;
  overflow: hidden;
  
  iframe{
    display: block;
    float: left;
    border: none;
    width: 100%;
    margin: 0 auto;
    height: 64vh;
    overflow: auto;
  }
}

.no-padding.columns{
  padding: 0;
}

.no-bottom-space{
    margin-bottom: 0;
}

.no-bottom-space-desktop{
  margin-bottom: 0;

  @media screen and (max-width: 64em) {
    margin-bottom: 3em;
  }
}

.bottom-space-1{
  padding-bottom: 1em;
}

.hide-mobile{
  display: block;
    
  @media screen and (max-width: 40em) {
    display: none;
  }
}

.hide-tablet{
  display: block;
    
  @media screen and (min-width: 40.063em) and (max-width: 63.9375em) {
    display: none;
  }
}

.inline-accent{
  display: block;
  margin: 0 auto;
  padding: 0 1em;
    
  @media screen and (max-width: 40em) {
    padding: 1em;
  }
}

textarea{
  height: 10em;
}

body{
  background: $background;
}

// COLOURS
.white{
	background-color: $white;
  h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,p,a{
		color: $black;
  }

  a{
    transition: color 0.25s ease;
  }
  
  a:hover, a:focus{
    color: darken($black, 33%);  
  }

  
  a.thrillworks-text{
    color: darken($thrillworks, 18%);

    &:hover{
      color: darken($thrillworks, 21%);
    }
  }
}

.black{
	background-color: $black;
	h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6,p,a{
		color: $white;
  }
  
  a{
    transition: color 0.25s ease;
  }

  a:hover, a:focus{
    color: darken($white, 33%);
  }
}

.white.black{
	background-color: $black;
	h1,h2,h3,h4,h5,h6,p,a{
		color: $white;
  }

  a{
    transition: color 0.25s ease;
  }
  
  a:hover, a:focus{
    color: darken($black, 33%);
  }
}

.black.white{
	background-color: $white;
  h1,h2,h3,h4,h5,h6,p,a{
		color: #000000;
  }
  
  a{
    transition: color 0.25s ease;
  }

  a:hover, a:focus{
    color: darken($white, 33%);
  }
}

.grey{
	background-color: $grey;
}

.blue{
  background-color: $blue;
  
  a{
    transition: color 0.25s ease;
  }

  a:hover, a:focus{
    color: darken($black, 33%);
  }
}

.blue-gradient{
  background: rgba(109,170,170,1);
  background: -moz-linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(109,170,170,1)), color-stop(100%, rgba(150,233,233,1)));
  background: -webkit-linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  background: -o-linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  background: linear-gradient(45deg, rgba(109,170,170,1) 0%, rgba(150,233,233,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6daaaa', endColorstr='#96e9e9', GradientType=1 );
}

.light-blue{
	background-color: $light-blue;
}

.dark-blue{
	background-color: $dark-blue;
}

.white-text{
	color: $white;
}

.black-text{
	color: $black;
}

.grey-text{
	color: $grey;
}

.blue-text{
	color: $blue;
}

.light-blue-text{
	color: $light-blue;
}

.dark-blue-text{
	color: $dark-blue;
}

a.thrillworks-text{
    color: $thrillworks;

    &:hover{
      color: darken($thrillworks, 10%);
    }
}

button{
  display: block;
  margin: 0 auto;
  color: #000000;
  padding: 1em 2em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #000000;
  background: #468CCF;
  background: linear-gradient(to top,  #5FA6A6,  #7FC7C7);
  background: -ms-linear-gradient(to top,  #5FA6A6,  #7FC7C7);
  background: -webkit-gradient(linear, to left top, to left bottom, from(#5FA6A6), to(#7FC7C7));
  background: -moz-linear-gradient(to top,  #5FA6A6,  #7FC7C7);
  text-decoration: none;
  transition: all 0.15s ease;

  @include breakpoint(medium){
      top: 11em;
  }

  &:hover, &:active, &:focus {
      color: $white;
      border-color: $white;
      background: #63B8EE;
      background: linear-gradient(to top,  #7FC7C7,  #5FA6A6);
      background: -ms-linear-gradient(to top,  #7FC7C7,  #5FA6A6);
      background: -webkit-gradient(linear, to left top, tp left bottom, from(#7FC7C7), to(#5FA6A6));
      background: -moz-linear-gradient(to top,  #7FC7C7,  #5FA6A6);
      text-decoration: underline;
  }
}

.header-no-parallax{
  padding-top: 0.75em;

  @media screen and (max-width : 940px) {
    padding-top: 0;
  }

  @media screen and (max-width: 40em) {
    padding-top: 0.75em;
  }
}

/* Spacing */
.margin-top{
  margin-top: 2.5em;
}

.margin-top-1{
  margin-top: 1em;
}

/* Breadcrumbs */
.crumbs {
  list-style: none;
    
  li{
    display: inline;
  }
}

/* Accordion */
// <ul>
.accordion{
  background: none;
  list-style-type: none;
  margin: 0;
  margin-top: 1em;
  padding: 0;

  // <li>
  .accordion-item{
      margin: 0;
      border: 0.25em solid $black;
      border-bottom: none;

      &:last-child{
          border-bottom: 0.25em solid $black;
      }

      // Active
      &.is-active{
          background: none;

          // <a>
          .accordion-title{
              background: rgba(0,0,0,0.8);
              color: $white;

              &:hover{
                  background: rgba(0,0,0,0.8);
              }

              &::before{
                  margin-top: -0.8rem;
              }

              h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p{
                color: $white;
              }
          }
      }

      // <a>
      .accordion-title{
          text-decoration: none;
          display: block;
          padding: 1em;
          background: none;
          border: none;
          transition: all 0.2s ease;


          &:hover{
              background: rgba(0,0,0,0.2);
          }

          &::before{
              margin-top: -0.6rem;
              font-size: 1.75em;
              font-weight: bold;
          }
      }

      .accordion-content{
          border: none;
          background: none;
      }
  }
}

/* Animations */
#showcase1, #showcase2, #showcase3{
  img{
    display: block;
    margin: 0 auto;
  }
}

#showcase1.bounceIn {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

#showcase2.bounceIn {
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  -o-animation-delay: 1.25s;
  -ms-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

#showcase3.bounceIn {
  -webkit-animation-delay: 2.25s;
  -moz-animation-delay: 2.25s;
  -o-animation-delay: 2.25s;
  -ms-animation-delay: 2.25s;
  animation-delay: 2.25s;
}

@media screen and (max-width: 40em) {
  #showcase1.bounceIn, #showcase2.bounceIn, #showcase3.bounceIn {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
}