/*Top Navigation */
nav{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  -moz-box-shadow: 0  0.75em 0.75em -0.75em #000000, 0 -0.75em 0.75em -0.75em #000000;
  -webkit-box-shadow:  0  0.75em 0.75em -0.75em #000000, 0 -0.75em 0.75em -0.75em #000000;
   box-shadow: 0  0.75em 0.75em -0.75em #000000, 0 -0.75em 0.75em -0.75em #000000;

  ul.topnav{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;

      li{
        float: left;

        a{
          display: inline-block;
          color: $white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          transition: 0.3s;
          font-size: 17px;

          .site-title{
            font-weight: bold;
          }
        }

        a:hover{
          background-color: $grey;
        }
      }

      li.icon {
        display: none;
      }
  }
}

/* Footer */
footer{
  .section{
    padding: 3em 1em;
  }

  h5{
    font-size: 1em;
    color: $grey!important;
    float: left;
    display: block;
    padding: 0;

    a:hover{
      text-decoration: underline;
    }
  }

  p{
    padding: 0;
  }

  .profession{
    border-right: 3px solid $grey!important;
  }

  .footnote-position{
    margin-top: .5em;

    .name, .title, .footnote-contact{
      display: block;
      width: 100%;
      float: left;
    }

    .name{
      padding: 0;
      margin: 0;
    }
  }

  .footnote-ctas-desktop{
    display: block;
  }

  .footnote-ctas-tablet{
    display: none;
  }

  .footnote-contact{
    margin-top: 1em;
  }

  .footnote-contact, .social-media, .footnote-ctas{
    h5, p{
      a{
        color: $white!important;

        &:hover{
          color: $blue!important;
          text-decoration: none;
        }
      }
    }
  }

  .social-media{
    margin-top: 1em;
    display: block;

    img{
      max-width: 35px;
    }

    .linkedin{
      display: block;
      width: 100%;
      float: left;
    }

    .github{
      display: block;
      width: 100%;
      float: left;
      margin-top: 1.5em;
    }

    .social-icon{
      a img{
        -webkit-filter: grayscale(100%)!important;
        -webkit-transition: .33s ease-in-out!important;
        -moz-filter: grayscale(100%)!important;
        -moz-transition: .33s ease-in-out!important;
        -o-filter: grayscale(100%)!important;
        -o-transition: .33s ease-in-out!important;

        &:hover{
          -webkit-filter: grayscale(0%) !important;
          -webkit-transition: .33s ease-in-out !important;
          -moz-filter: grayscale(0%) !important;
          -moz-transition: .33s ease-in-out !important;
          -o-filter: grayscale(0%) !important;
          -o-transition: .33s ease-in-out !important;
        }
      }
    }

    .social-text{
      h5{
        font-size: 1em;
        font-weight: bold;
        line-height: 1;

        a{
          font-size: .9em;
          font-weight: bold;
        }
      }

      p{
        font-size: .75em;
        font-weight: bold;
      }
    }
  }

  .footnote-ctas{
    float: right;
    margin-right: 7vw;

    h5{
      a{
        color: $white!important;
        float: right;
      }
    }
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) { /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
  footer{
    .social-media{
      margin-top: 1em!important;
      margin-left: 1em;

      .linkedin{
        margin-top: 1em!important;
      }

      .github{
        margin-top: 1em!important;
      }
    }

    .footnote-ctas{
      float: left!important;
      margin-right: 0em;
      margin-bottom: 0;
      padding-bottom: 0;
      margin-top: 2em;
      margin-left: .5em;

      h5{
        padding: 0em 0.5em;
      }
    }

    .footnote-ctas-desktop{
      display: none!important;
    }

    .footnote-ctas-tablet{
      display: block!important;
    }
  }
}

@media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
footer{
  .footnote-position .name{
    margin-top: .75em!important;
  }

  .footnote-ctas{
    float: left!important;
    margin-right: 0em;
    margin-bottom: 0;
    padding-bottom: 0;

    h5{
      padding: 0em 0.5em;
    }
  }

  .social-media{
    margin-top: 3em!important;

    .github{
      display: block;
      margin-top: 2em!important;
    }
  }

  .footnote-position{
    margin-top: 0!important;
  }

  .footnote-contact{
    margin-top: .75em!important;
  }

  .footnote-ctas-desktop{
    display: none!important;
  }

  .footnote-ctas-tablet{
    display: block!important;
  }
}
}

/*Back to Top*/
a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 1em;
	bottom: 1em;
  background: url("/assets/img/back-to-top.png") no-repeat center 43%;
}

/* Media Queries */
@media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  ul.topnav{
    li:not(:first-child){
      display: none;
    }

    li.icon{
      float: right;
      display: inline-block;
    }
  }

  ul.topnav.responsive{
    position: relative;

    li{
      float: none;
      display: inline;

      a{
        display: block;
        text-align: left;
      }
    }

    li.icon{
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
