/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Basic Styles */
nav {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
	background: #181818;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
    text-align: center;
    -webkit-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.66);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.66);
    border-bottom: 1px solid white;
    
    ul{
        list-style: none;
        padding: 0;   
        
        li{
            display: inline;
            margin: 0;
            
            &:first-child{
                float: left;
                margin-left: 1em;
                font-weight: bold;
                font-size: 22px;
            }

            &:nth-child(2){
                margin-left: -160px;
            }
            
            a{
                box-sizing:border-box;
	            -moz-box-sizing:border-box;
	            -webkit-box-sizing:border-box;
                
                &:hover{
                    color: $black!important;
                }
            }
            
            &:last-child{
                a{
                    border-right: 0;  
                }
            }
        }
        
        #nav-index{
            a{
                &:hover{
                    background: $black;
                    color: $white!important;
                    text-decoration: underline;
                }
            }
        }
    }
    
    a{
        color: $white;
        display: inline-block;
        min-width: 100px;
        text-align: center;
        text-decoration: none;
        line-height: 50px;
        
        &:hover, &:active{
            background-color: $white;
            color: $black;
            font-weight: 500;
        }
    }
    
    a#pull{
        display: none;
    }
}

/*Smartphone*/
@media screen and (max-width : 940px) {
    nav {
		border-bottom: 0;
        height: auto;
        width: 100%;
  		display: block;
        background: $black;
        
        ul{
            display: none;
            height: auto;
            
            li{
                display: block;
		        float: none;
                width: 100%;
        
                &:first-child{
                    margin-left: 0;
                    font-size: 22px;
                    font-weight: bold;
                }
        
                &:nth-child(2){
                    margin-left: 0;
                }

                a{
                    font-weight: 500;
                    &:hover{
                        color: $black!important;
                        background: $white;
                    }
                }
            }
            
            #nav-index{
                background: #181818;
                a{
                    text-align: center;
                    text-indent: 0px;
                    &:hover{
                        color: $black!important;
                        background: $white;
                    }
                }
            }
        }
        
        a#pull{
            display: block;
            background-color: #181818;
            width: 100%;
            position: relative;
            line-height: 36px;
            padding: 0; margin: 0;
            font-weight: bold;
            
            &:hover, &:visited{
                color: $white!important;
            }
            
            &:after{
                content:"";
		        background: url('../img/nav-icon.png') no-repeat;
                width: 30px;
                height: 30px;
                display: inline-block;
                position: absolute;
                right: 15px;
                top: 8px;
            }
        }
        
        a{
            text-align: left;
	  	    width: 100%;
	  	    text-indent: 25px; 
            border-bottom: 1px solid $white;
        }
	}
}




/* Footer */
footer{
    background: #181818;
    border-top: 1px solid $white;
    -webkit-box-shadow: 0px -10px 17px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -10px 17px -8px rgba(0,0,0,0.75);
    box-shadow: 0px -10px 17px -8px rgba(0,0,0,0.75);
    padding: 1em 0;
    
    .footnote{
        display: table;
        
        .footnote-profile{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
    }
    
  .section{
    padding: 1.5em 1em;
  }

  h5{
    font-size: 1em;
    color: $grey!important;
    float: left;
    display: block;
    padding: 0;

    a:hover{
      text-decoration: underline;
    }
  }

  p{
    padding: 0;
  }

  .profession{
    border-right: 3px solid $grey!important;
  }

  .footnote-position{
    margin-top: .5em;

    .name, .title, .footnote-contact{
      display: block;
      width: 100%;
      float: left;
    }

    .name{
      padding: 0;
      margin: 0;
    }
  }

  .footnote-ctas-desktop{
    display: block;
  }

  .footnote-ctas-tablet{
    display: none;
  }

  .footnote-contact{
    margin-top: 1em;
  }

  .footnote-contact, .social-media, .footnote-ctas{
    h5, p{
      a{
        color: $white!important;

        &:hover{
          color: $blue!important;
          text-decoration: none;
        }
      }
    }
  }

  .social-media{
    margin-top: 1.3em;
    display: block;

    img{
      max-width: 35px;
    }

    .linkedin{
      display: block;
      width: 100%;
      float: right;
      margin-top: -10px;
    }

    .github{
      display: block;
      width: 100%;
      float: right;
      margin-top: 1.5em;
    }

    .social-icon{
      a img{
        -webkit-filter: grayscale(100%)!important;
        -webkit-transition: .33s ease-in-out!important;
        -moz-filter: grayscale(100%)!important;
        -moz-transition: .33s ease-in-out!important;
        -o-filter: grayscale(100%)!important;
        -o-transition: .33s ease-in-out!important;

        &:hover{
          -webkit-filter: grayscale(0%) !important;
          -webkit-transition: .33s ease-in-out !important;
          -moz-filter: grayscale(0%) !important;
          -moz-transition: .33s ease-in-out !important;
          -o-filter: grayscale(0%) !important;
          -o-transition: .33s ease-in-out !important;
        }
      }
    }

    .social-text{
      h5{
        padding-top: 0.55em;
        font-size: 1em;
        font-weight: bold;
        line-height: 1;
        float: right;

        a{
          font-size: .9em;
          font-weight: bold;
        }
      }

      p{
        font-size: .75em;
        font-weight: bold;
      }
    }
  }

  .footnote-ctas{
    float: right;
    margin-right: 7vw;

    h5{
      a{
        color: $white!important;
        float: right;
      }
    }
  }
}

@media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
footer{
    border-top: 1px solid white;
    
  .footnote-position .name{
    margin-top: .75em!important;
  }

  .footnote-ctas{
    float: left!important;
    margin-right: 0em;
    margin-bottom: 0;
    padding-bottom: 0;

    h5{
      padding: 0em 0.5em;
    }
  }

  .social-media{
    margin-top: 3em!important;

    .github{
      display: block;
      margin-top: 2em!important;
    }
  }

  .footnote-position{
    margin-top: 0!important;
  }

  .footnote-contact{
    margin-top: .75em!important;
  }

  .footnote-ctas-desktop{
    display: none!important;
  }

  .footnote-ctas-tablet{
    display: block!important;
  }
}
}