// COLOURS
$white: #ffffff;
$grey: #888888;
$black: #262626;
$blue: #6dbfbf;
$light-blue: #00e0ff;
$dark-blue: #477979;
$background: #181818;
$error: #FF6666;
$amazon: #FF9900;
$evertz: #FFFF01;
$thrillworks: #E84B4E;
$slightly-social: #1B59A7;