<footer>
  <div class="section black">
    <div class="row">
      <!-- Profession Showcase -->
      <div class="large-5 medium-12 small-12 columns">
        <div class="footnote-profile large-4 medium-12 small-12 columns">
          <img src="http://www.corey-noble.com/assets/img/Corey-Noble-Footnote-Profile.png" />
        </div>
        <div class="large-7 medium-12 small-12 columns">
          <div class="footnote-position">
            <h4 class="blue-text name">Corey Noble</h4>
            <h5 class="title">Front-End Web Developer</h5>
            <div class="footnote-contact">
              <h5><a href="http://www.corey-noble.com/resume.pdf" target="_blank">My Resume</a></h5>
              <h5>&nbsp;&nbsp;|&nbsp;&nbsp;</h5>
              <h5><a href="http://www.corey-noble.com/site-index.php">Site Index</a></h5>
            </div>
          </div>
        </div>
      </div>

      <!-- Social Media -->
      <div class="large-4 medium-12 small-12 columns">
        <div class="social-media">
          <div class="linkedin">
            <div class="social-icon large-3 medium-1 small-2 columns">
              <a href="https://ca.linkedin.com/in/corey-noble-79442376" target="_blank"><img src="http://www.corey-noble.com/assets/img/linkedin-icon.png" alt="LinkedIn Icon" /></a>
            </div>
            <div class="social-text large-9 medium-11 small-10 columns">
              <h5>View my <a href="https://ca.linkedin.com/in/corey-noble-79442376" target="_blank">LinkedIn</a> profile</h5><br>
              <p class=""><a href="https://ca.linkedin.com/in/corey-noble-79442376" target="_blank">/in/corey-noble-79442376</a></p>
            </div>
          </div>
          <div class="github">
            <div class="social-icon large-3 medium-1 small-2 columns">
              <a href="https://github.com/CoreyNoble" target="_blank"><img src="http://www.corey-noble.com/assets/img/github-icon.png" alt="GitHub Icon" /></a>
            </div>
            <div class="social-text large-9 medium-11 small-10 columns">
              <h5>View my <a href="https://github.com/CoreyNoble" target="_blank">GitHub</a> projects</h5><br>
              <p class=""> <a href="https://github.com/CoreyNoble" target="_blank">/CoreyNoble</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Back to Top -->
<a href="#" class="back-to-top">Back to Top</a>
