<footer>
  <div class="row">
    <!-- Profession Showcase -->
    <div class="large-7 medium-8 small-12 columns">
      <div class="large-3 medium-4 small-4 columns">
        <img src="{{root}}assets/img/Corey-Noble-Footnote-Profile.png" alt="" role="presentation" />
      </div>
      <div class="large-9 medium-8 small-8 columns end">
        <div class="footnote-position">
          <h4 class="blue-text name">Corey Noble</h4>
          <h5 class="title">Web&nbsp;Developer</h5>
          <div class="footnote-contact">
            <h5>
              <a href="{{root}}assets/pdf/CoreyNoble-Resume.pdf" target="_blank">My Resume</a>
            </h5>
            <h5>&nbsp;&nbsp;|&nbsp;&nbsp;</h5>
            <h5>
              <a href="{{root}}site-index.html">Site Index</a>
            </h5>
          </div>
        </div>
      </div>
    </div>

    <!-- Social Media -->
    <div class="show-for-large large-5 medium-5 small-12 columns end">
      <div class="social-media">
        <div class="linkedin">
          <div class="social-text large-10 medium-9 small-10 columns end">
            <h5>View my
              <a href="https://ca.linkedin.com/in/corey-noble-79442376" target="_blank">LinkedIn</a>&nbsp;profile</h5>
            <br>
          </div>
          <div class="social-icon large-2 medium-3 small-2 columns">
            <a href="https://ca.linkedin.com/in/corey-noble-79442376" target="_blank">
              <img src="{{root}}assets/img/linkedin-icon.png" alt="LinkedIn Icon" />
            </a>
          </div>
        </div>

        <div class="github">
          <div class="social-text show-for-medium-up large-10 medium-9 small-10 columns end">
            <h5>View my
              <a href="https://github.com/CoreyNoble" target="_blank">GitHub</a>&nbsp;projects</h5>
            <br>
          </div>
          <div class="social-icon large-2 medium-3 small-2 columns">
            <a href="https://github.com/CoreyNoble" target="_blank">
              <img src="{{root}}assets/img/github-icon.png" alt="GitHub Icon" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>