<footer>
  <div class="section black">
    <div class="row">
      <!-- Profession Showcase -->
      <div class="large-5 medium-12 small-12 columns">
        <div class="footnote-profile large-4 medium-3 small-12 columns">
          <img src="../assets/img/Corey-Noble-Footnote-Profile.png" />
        </div>
        <div class="large-8 medium-9 small-12 columns">
          <div class="footnote-position">
            <h4 class="blue-text name">Corey Noble</h4>
            <h5>Front-End Web Developer</h5>
          </div>
          <div class="footnote-contact">
            <h5><a href="../../resume.pdf">My Resume</a></h5>
            <h5>&nbsp;&nbsp;|&nbsp;&nbsp;</h5>
            <h5><a href="../../site-index.php">Site Index</a></h5>
          </div>
        </div>
      </div>

      <!-- Social Media -->
      <div class="large-4 medium-12 small-12 columns">
        <div class="social-media">
          <div class="row linkedin">
            <div class="social-icon large-3 medium-3 small-3 columns">
              <a href="https://ca.linkedin.com/in/corey-noble-79442376" target="_blank"><img src="../assets/img/linkedin-icon.png" alt="LinkedIn Icon" /></a>
            </div>
            <div class="social-text large-9 medium-9 small-9 columns">
              <h5>View my <a href="https://ca.linkedin.com/in/corey-noble-79442376" target="_blank">LinkedIn</a> profile</h5><br>
              <p class=""><a href="https://ca.linkedin.com/in/corey-noble-79442376" target="_blank">/in/corey-noble-79442376</a></p>
            </div>
          </div>
          <div class="row github">
            <div class="social-icon large-3 medium-3 small-3 columns">
              <a href="https://github.com/CoreyNoble" target="_blank"><img src="../assets/img/github-icon.png" alt="GitHub Icon" /></a>
            </div>
            <div class="social-text large-9 medium-9 small-9 columns">
              <h5>View my <a href="https://github.com/CoreyNoble" target="_blank">GitHub</a> projects</h5><br>
              <p class=""> <a href="https://github.com/CoreyNoble" target="_blank">/CoreyNoble</a></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Footnote Navigation -->
      <div class="large-3 medium-3 small-12 columns footnote-ctas-desktop">
        <div class="footnote-ctas">
          <h5><a href="../../index.php">Home</a></h5><br>
          <h5><a href="../../portfolio.php">Portfolio</a></h5><br>
          <h5><a href="../../about.php">About</a></h5><br>
          <h5><a href="../../services.php">Services</a></h5><br>
          <h5><a href="../../contact.php">Contact</a></h5>
        </div>
      </div>

      <div class="large-3 medium-12 small-12 columns footnote-ctas-tablet">
        <div class="footnote-ctas">
          <h5><a href="../../index.php">Home</a></h5>
          <h5>&nbsp;&nbsp;|&nbsp;&nbsp;</h5>
          <h5><a href="../../portfolio.php">Portfolio</a></h5>
          <h5>&nbsp;&nbsp;|&nbsp;&nbsp;</h5>
          <h5><a href="../../about.php">About</a></h5>
          <h5>&nbsp;&nbsp;|&nbsp;&nbsp;</h5>
          <h5><a href="../../services.php">Services</a></h5>
          <h5>&nbsp;&nbsp;|&nbsp;&nbsp;</h5>
          <h5><a href="../../contact.php">Contact</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- Back to Top -->
<a href="#" class="back-to-top">Back to Top</a>
