<div id="outer-wrap">
<div id="inner-wrap">

    <header id="top" role="banner">
        <div class="block">
            <h1 class="block-title"><a href="http://www.corey-noble.com/" style="color: #fff!important; font-family: 'Lato', sans-serif!important; font-weight: normal!important;"><&nbsp;Corey-Noble.com&nbsp;/></a></h1>
            <a class="nav-btn" id="nav-open-btn" href="#nav">Menu</a>
        </div>
    </header>

    <nav id="nav" role="navigation">
        <div class="block">
            <ul>
              <li><a href="http://www.corey-noble.com/portfolio.php" style="color: #fff!important; font-family: 'Lato', sans-serif!important; font-weight: normal!important; border: none!important; font-size: 16px!important;">Portfolio</a></li>
              <li><a href="http://www.corey-noble.com/about.php" style="color: #fff!important; font-family: 'Lato', sans-serif!important; font-weight: normal!important; border: none!important; font-size: 16px!important;">About</a></li>
              <li><a href="http://www.corey-noble.com/services.php" style="color: #fff!important; font-family: 'Lato', sans-serif!important; font-weight: normal!important; border: none!important; font-size: 16px!important;">Services</a></li>
              <li><a href="http://www.corey-noble.com/blog.php" style="color: #fff!important; font-family: 'Lato', sans-serif!important; font-weight: normal!important; border: none!important; font-size: 16px!important;">Blog</a></li>
              <li><a href="http://www.corey-noble.com/contact.php" style="color: #fff!important; font-family: 'Lato', sans-serif!important; font-weight: normal!important; border: none!important; font-size: 16px!important;">Contact</a></li>
            </ul>
            <a class="close-btn" id="nav-close-btn" href="#top">Return to Content</a>
        </div>
    </nav>

    <div id="main" role="main">
