<header>
    <nav>
      <ul class="topnav">
       <li><a href="http://www.corey-noble.com/index.php"><span class="site-title">< COREY-NOBLE /></span></a></li>
       <li><a href="http://www.corey-noble.com/portfolio.php">Portfolio</a></li>
       <li><a href="http://www.corey-noble.com/about.php">About</a></li>
       <li><a href="http://www.corey-noble.com/services.php">Services</a></li>
       <li><a href="http://www.corey-noble.com/contact.php">Contact</a></li>
       <li class="icon">
         <a href="javascript:void(0);" onclick="navToggle()">&#9776;</a>
       </li>
     </ul>
   </nav>
</header>
