#javascript30-1{
    background-color: #6dbfbf;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%236dbfbf' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2360b4ba' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%2354a8b4' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23499dae' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%234091a8' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%233986a1' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23337a99' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%232f6f91' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%232d6488' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%232c597f' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%232c4d75' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%232c436a' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%232b385f' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%232a2d54' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23292348' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%2327183c' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23240e30' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

    .keys {
        display: flex;
        flex-wrap: wrap;
        min-height: 30vh;
        align-items: center;
        justify-content: center;
    }
    
    .key {
        border: .4rem solid black;
        border-radius: .5rem;
        margin: 1rem;
        font-size: 1.5rem;
        padding: 1rem .5rem;
        transition: all .07s ease;
        min-width: 8rem;
        text-align: center;
        color: $white;
        background: $white;
    }
    
    .playing {
        transform: scale(1.1);
        border-color: $blue;
        box-shadow: 0 0 1rem $black;

        kbd, .sound {
            color: $blue;
        }
    }
    
    kbd {
        display: block;
        font-size: 3rem;
        color: $black;
        background-color: unset;
        transition: all .07s ease;
    }
    
    .sound {
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        color: $black;
        transition: all .07s ease;
    }
}