#javascript30-3{
    // CSS way of creating variables
    --base: #6dbfbf;
    --spacing: 10px;
    --blur: 10px;

    img{
        // CSS Variable usage
        padding: var(--spacing);
        background: var(--base);
        filter: blur(var(--blur));
    }

    .hl{
        color: var(--base);
    }

    /* misc styles, nothing to do with CSS variables */
    .controls {
    margin-bottom: 50px;
    }

    input {
    width: 100px;
    }
}