/* Blog */
#blog{
    position: relative;
    
    a{
        text-decoration: none;
    }
    
    .blog-entry{
        position: relative;
        float: left;
        display: block;
        width: 100%;
        background: $white;
        border: #000 solid 2px;
        border-radius: 7px;
        margin-bottom: 1em;
        -webkit-box-shadow: 0.33em 0.33em 0.33em 0 rgba(0,0,0,0.4);
        -moz-box-shadow: 0.33em 0.33em 0.33em 0 rgba(0,0,0,0.4);
        box-shadow: 0.33em 0.33em 0.33em 0 rgba(0,0,0,0.4);

        -moz-transition: all 0.25s ease;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
        
        h4, p{
          color: $black;
          padding-top: 0.33em;
        }
        
        p{
            padding-bottom: 0.75em;
        }
        
        &:hover{
            background: $black;
            
            h4, p{
                color: $white;
            }
        }
        
        &.no-bottom-space{
          margin-bottom: 0;
        }
    }
}