/* Contact Page */
#contact-intro{
  padding-bottom: 2em;
    
    h5{
        margin-top: 1em;
    }
    
    .form-validation-error{
        color: red;
        font-weight: bold;
        margin-top: 1em;
        text-decoration: underline;
    }
    
    .success{
        font-size: 3.5em;
    }
}

.contact-form{
  background: url(../img/aesthetic-geometry-tablet.jpg) no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 1em 2em;
  -moz-box-shadow: 0  0.75em 0.75em -0.75em #000000, 0 -0.75em 0.75em -0.75em #000000;
  -webkit-box-shadow:  0  0.75em 0.75em -0.75em #000000, 0 -0.75em 0.75em -0.75em #000000;
   box-shadow: 0  0.75em 0.75em -0.75em #000000, 0 -0.75em 0.75em -0.75em #000000;

  form{
    padding: 1em;

    h5{
      color: $white;
    }

    input, textarea{
      background: rgba(0,0,0,0.22);
      color: $white;
        
        &:focus{
            background: rgba(0,0,0,0.22);
        }
    }

    input[type=submit]{
      display: block;
      float: right;
      font-family: arial;
      color: #000000;
      font-size: 1em;
      font-weight: bold;
      padding: 1em 2em;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      border: 2px solid #000000;
      background: #468CCF;
      background: linear-gradient(to top,  #5FA6A6,  #7FC7C7);
      background: -ms-linear-gradient(to top,  #5FA6A6,  #7FC7C7);
      background: -webkit-gradient(linear, to left top, to left bottom, from(#5FA6A6), to(#7FC7C7));
      background: -moz-linear-gradient(to top,  #5FA6A6,  #7FC7C7);
      margin: 1.5em 0 0 0;
      transition: all 0.33s ease;

      &:hover, &:active, &:focus {
          color: $white;
          border-color: $white;
          background: #63B8EE;
          background: linear-gradient(to top,  #7FC7C7,  #5FA6A6);
          background: -ms-linear-gradient(to top,  #7FC7C7,  #5FA6A6);
          background: -webkit-gradient(linear, to left top, tp left bottom, from(#7FC7C7), to(#5FA6A6));
          background: -moz-linear-gradient(to top,  #7FC7C7,  #5FA6A6);
      }
        
      @media screen and (max-width: 40em) {
        width: 100%;
        margin: 0 auto;
        float: none;
      }
    }
      
    .contact-ctas{
      margin-top: 1.5em;
    
      @media screen and (max-width: 40em) {
        margin-top: 0em;
      }
    }

    .g-recaptcha{
      display: block;
      width: 100%;
      padding: 0;
      float: left;
        
      @media screen and (max-width: 40em) {
        margin: 0 auto;
        float: none;
        transform:scale(0.77);
        transform-origin:0 0;
      }
    }
  }
    
    &.confirmation{
      padding-bottom: 17em;
        
      h2, h4, p{
        color: $white;
      }
        
      h2{
        padding-bottom: 1em;
        padding-top: 0.2em;
      }
        
      @media screen and (max-width: 40em) {
        padding-bottom: 13.25em;
        margin-bottom: 5.5em;
      }
    }
}